

<div class="row-fluid span8 offset2 moreInfo ">
    <img src=" http://placehold.it/140x100">
    <div id="tickets" class="bullets">
    </div>
  </div>
  <div id="tickets-signup" class="span8 offset2 greenBox">
    <h1>REQUEST INFO</h1>
    <form>
      <fieldset>
        <input type="text" placeholder="First Last">
        <input type="text" placeholder="Organization">
        <input type="text" class="input-small" placeholder="Email">
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
    <h6>We promise to never sell your email address to any 3rd party or send you nasty spam.</h6>
  </div>
<!--   <hr class="span8 offset2">
 -->  <div class="row-fluid span8 offset2 moreInfo">
    <img src=" http://placehold.it/140x100">
    <div id="donors" class="bullets">
    </div>
  </div>
  <div id="donors-signup" class="span8 offset2 greenBox">
    <h1>REQUEST INFO</h1>
    <form>
      <fieldset>
        <input type="text" placeholder="First Last">
        <input type="text" placeholder="Organization">
        <input type="text" class="input-small" placeholder="Email">
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
    <h6>We promise to never sell your email address to any 3rd party or send you nasty spam.</h6>
  </div>
  <hr class="span8 offset2">
  <div class="row-fluid span8 offset2 moreInfo">
    <img src=" http://placehold.it/140x100">
    <div id="graph" class="bullets">
    </div>
  </div>
    <div id="graph-signup" class="span8 offset2 greenBox">
      <h1>REQUEST INFO</h1>
      <form>
        <fieldset>
          <input type="text" placeholder="First Last">
          <input type="text" placeholder="Organization">
          <input type="text" class="input-small" placeholder="Email">
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
      <h6>We promise to never sell your email address to any 3rd party or send you nasty spam.</h6>

    </div>
