
    <ul id="leftCol" class="span3 offset2 icon">
      <li><a href="#tickets"><img src="{{ STATIC_URL }}img/ticket.png" alt="icon"></a></li>
      <li>Sell out performances by showcasing past works.</li>
    </ul>
    <ul id="centerCol" class="span3 icon">
      <li><a href="#donors"><img src="{{ STATIC_URL }}img/donor.png" alt="icon"></a></li>
      <li>Convert ticketholders into repeat donors with ease.</li>
<!--          <li><span class="span2"><button class="btn btn-large" type="button">Go To App</button></span></li>
-->   </ul>
    <ul id="rightCol" class="span3 icon">
      <li><a href="#graph"><img src="{{ STATIC_URL }}img/graph.png" alt="icon"></a></li>
      <li>Effortlessly track, analyze, and report constituent support.</li>
    </ul>
